{deps, [
  %{texas, ".*", {git, "https://github.com/emedia-project/texas", "master"}},
  %{texas_sqlite, ".*", {git, "https://github.com/emedia-project/texas_sqlite", "master"}},
  %{texas_mysql, ".*", {git, "https://github.com/emedia-project/texas_mysql", "master"}},
  %{texas_pgsql, ".*", {git, "https://github.com/emedia-project/texas_pgsql", "master"}}
  {texas, ".*", {rsync, "../../texas"}},
  {texas_sqlite, ".*", {rsync, "../../texas_sqlite"}},
  {texas_mysql, ".*", {rsync, "../../texas_mysql"}},
  {texas_pgsql, ".*", {rsync, "../../texas_pgsql"}}
]}.

