{erl_opts, [
  {parse_transform, lager_transform}
]}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {texas, ".*", {rsync, "../../texas"}},
  {texas_sqlite, ".*", {rsync, "../../texas_sqlite"}},
  {texas_mysql, ".*", {rsync,  "../../texas_mysql"}},
  {texas_pgsql, ".*", {rsync,  "../../texas_pgsql"}}
]}.
{plugins, [texas_rebar]}.

